DependencyServiceDemos.iOS/bin/*
DependencyServiceDemos.iOS/obj/*
DependencyServiceDemos.Android/bin/*
DependencyServiceDemos.Android/obj/*
DependencyServiceDemos/bin/*
DependencyServiceDemos/obj/*
iOSBinding/bin/*
iOSBinding/obj/*
AndroidBinding/bin/*
AndroidBinding/obj/*
.vs
node_modules/*